<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin | E-STARTED CARNIVAL</title>

		<link rel="stylesheet" href="./styles/global.css" />
		<link rel="stylesheet" href="./styles/admin.css" />
	</head>
	<body>
		<div class="container">
			<div class="table">
                <div class="row header">
                    <div class="col">#</div>
                    <div class="col">Code</div>
                    <div class="col">Ref</div>
                    <div class="col">Status</div>
                    <div class="col">Value</div>
                </div>
            </div>
            <div class="actions">
                <button onClick="newCode()">Generate new code</button>
            </div>
		</div>
		<div class="footer">
			<img class="ump-logo" src="./images/ump-logo.png" />
			<div class="labels">
				<div class="item">E-Started Carnival</div>
				<div class="dot"></div>
				<div class="item">JHEPA</div>
				<div class="dot"></div>
				<div class="item">FKOM</div>
			</div>
			<div></div>
		</div>

        <script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script>
            let url;
			$.getJSON('./config.json').then(d => {
				url = d.url;
			});

            const newCode = async () => {
                const value = await swal({
                    title: 'Enter code value (RM)',
                    content: 'input'
                });

                await $.get(`${url}/generate?value=${value}`);

                await swal({
                    title: 'Generated!',
                    text: `New code has been generated, value RM${value}`
                });

                window.location.reload();
            };

            const loadCodes = () =>
                new Promise(async (resolve, reject) => {
                    if (!url) {
                        url = (await $.getJSON('./config.json')).url;
                    }
                    
                    const list = await $.get(`${url}/codes`);

                    let rows = '';
                    let x = 0;
                    for (const i of list) {
                        rows += `
                        <div class="row">
                            <div class="col">${++x}</div>
                            <div class="col">${i.code}</div>
                            <div class="col">${i.ref}</div>
                            <div class="col">${i.status}</div>
                            <div class="col">RM${parseFloat(i.value).toFixed(2)}</div>
                        </div>
                        `;
                    }

                    document.querySelector('.table').innerHTML = `
                    <div class="row header">
                        <div class="col">#</div>
                        <div class="col">Code</div>
                        <div class="col">Ref</div>
                        <div class="col">Status</div>
                        <div class="col">Value</div>
                    </div>${rows}
                    `;
                });
            loadCodes();
		</script>
	</body>
</html>
